@font-face {
    font-family: GilroyR;
    src: url("../public/font/Gilroy-Regular.ttf");
}

@font-face {
    font-family: GilroyM;
    src: url("../public/font/Gilroy-Medium.ttf");
}

@font-face {
    font-family: GilroyUL;
    src: url("../public/font/Gilroy-UltraLight.ttf");
}

@font-face {
    font-family: GilroyT;
    src: url("../public/font/Gilroy-Thin.ttf");
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: #fff;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    background-color: #EEE3CB;
    // background-color: #EEE3CB;
    // position: relative;
}

// body::before {
//     content: "";
//     position: fixed;
//     inset: 0;
//     background-image: url("./assets/008.png");
//     opacity: 0.4;
//     pointer-events: none;
//     z-index: 1;
// }