*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body
{
    width: 100%;
    height: 100%;
}

main
{
    width: 100%;
    height: 100%;

    .counter
    {
        width: 100%;
        height: 100%;
        background-color: #0c0c0c;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .heading
        {
            h1 
            {
                font-size: 6vw;
                background: url(./assets/mask\ Large_ZB4lGN8hWZ.png);
                background-size: cover;
                background-position: center center;
                background-clip: text;
                color: transparent;
                position: relative;
            }

            .bloom 
            {
                position: absolute;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%, -50%);
                filter: blur(90px) saturate(1);
            }
        }

        .btns
        {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            button 
            {
                font-size: 3vw;
                padding: 0.8rem 1.8rem;
                background-color: rgb(29, 103, 58);
                border: none;
                border-radius: 0.8rem;
                cursor: pointer;
            }
            button:active
            {
                scale: 0.9;
            }

        }

       


    }
}