@font-face {
    font-family: Gilroy;
    src: url(./font/Gilroy-UltraLight.ttf);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Gilroy;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #213448;

    .Navbar {
        width: 100%;
        // background-color: rgb(34, 34, 34);
        height: 60px;
        padding: 0px 20px;
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 30px;

        .Nav {
            width: 100%;
            height: 60px;
            padding: 0px 20px;
            padding-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3 {
                text-align: center;
                color: #fff;
            }

            button {
                padding: 5px 15px;
                cursor: pointer;
                background-color: #EAE0CF;
                border: none;
                outline: none;
                color: #547792;
                font-size: 20px;
            }

            button:hover {
                scale: 0.95;
            }
        }

        .form {
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 12px;
            background-color: rgb(34, 34, 34, 0.4);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);

            input {
                border: none;
                outline: none;
                padding: 12px 50px 12px 15px;
                border-radius: 3px;
                font-size: 15px;
            }

            .subbtn {
                padding: 5px 15px;
                cursor: pointer;
                background-color: #EAE0CF;
                border: none;
                outline: none;
                color: #547792;
                font-size: 20px;
            }

            .subbtn:hover {
                scale: 0.95;
            }
        }

        .card {
            width: 280px;
            height: 440px;
            border-radius: 32px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
            overflow: hidden;

            .glass {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 50%;

                /* blur */
                backdrop-filter: blur(30px);
                -webkit-backdrop-filter: blur(30px);

                /* 🔑 smooth mixer edge */
                mask-image: linear-gradient(to top, black 75%, transparent 100%);
            }

            .content {
                width: 100%;
                position: absolute;
                bottom: 0;
                padding: 22px;
                color: white;
                z-index: 2;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                gap: 10px;

                .details {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;
                    gap: 2px;

                    h3 {
                        font-size: 20px;
                    }

                    h4 {
                        font-size: 15px;
                    }
                }

                .elements {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    button {
                        background: white;
                        color: black;
                        border: none;
                        border-radius: 99px;
                        padding: 10px 20px;
                        cursor: pointer;
                        text-align: left;
                    }

                    .btnRemoveContact:hover {
                        background: black;
                        color: white;
                    }

                    .btnRemoveContact:active {
                        scale: 0.95;
                    }
                }
            }
        }
    }
}