*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body
{
    width: 100%;
    height: 100%; 
}

// write a program to predict total pyment for given 
// number of clams or swedish auto insyorence data set 
//  linear regration model