@import 'nav.scss';

:root {
    --base-clor: #000;

}

@font-face {
    font-family: lightMona;
    src: url(./Font/Mona-Sans-870dff5a10221ba7d01cc47eca10d0b2f911bd4196bb941985490bd8c7363cd9.woff2);
}

@font-face {
    font-family: regularWFV;
    src: url(./Font/WFVisualSans-RegularText-46461986901f80620e484e70aa8cbb90ede25a01351d464819a4e47a3f38ea43.woff2);
}

@font-face {
    font-family: boldWFV;
    src: url(./Font/WFVisualSans-SemiBold-aa0e55353b6a1b897f76a0fcbf5561fa243ce1b8b9f6aebcb5a186f0536713b1.woff2);
}

@font-face {
    font-family: hell;
    src: url(./Font/Helvetica\ Neue\ LT\ Std\ 63\ Medium\ Extended.otf);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;

    .heroection {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0px 70px;
        

        .leftcontainer {
            width: 65vw;
            padding: 35px 10px;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            flex-shrink: 1;

            h1 {
                font-size: 2.8rem;
                font-family: hell;
            }

            p {
                font-family: lightMona;
            }

            .options {
                width: 100%;
                padding-top: 1.5rem;
                display: flex;
                gap: 1rem;

                button {
                    color: var(--base-clor);
                    font-family: lightMona;
                    font-weight: 500;
                    font-size: 0.9rem;
                    padding: 0.7rem 1.5rem;
                    border: none;
                    border-radius: 50px;
                    cursor: pointer;
                    text-align: center;
                    background-color: #fff;

                    i {
                        font-size: 1.2rem;
                        font-family: lightMona;
                        font-weight: 400;
                        padding-right: 5px;
                    }
                }

                .shots {
                    background-color: #3A3546;
                    color: #fff;
                }

                .shots:hover {
                    background-color: #3A3546;
                    color: #fff;
                }

                button:hover {
                    background-color: #FAF9FB;
                }
            }

            .searchbar {
                width: 85%;
                border: none;
                background-color: #F3F3F6;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 20px;
                padding-right: 10px;

                input {
                    width: 100%;
                    border: none;
                    padding: 20px 0;
                    background-color: #F3F3F6;
                    border-radius: 50px;
                    font-size: 0.95rem;
                    font-family: lightMona;
                }

                input:active {
                    border: 1px solid #F3F3F6;
                }

                .serchicon {
                    height: fit-content;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #eb4283;
                    padding: 10px 10px;
                    border: none;
                    border-radius: 50%;

                    i {
                        color: #fff;
                        font-size: 1.3rem;
                    }
                }
            }

            .tegs {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 0.8rem;

                .sp {
                    font-family: lightMona;
                    font-weight: 500;
                    font-size: 0.9rem;
                    border: none;
                }

                .tag {
                    display: flex;
                    align-items: flex-start;
                    overflow: hidden;
                    // flex-wrap: wrap;
                    gap: 0.5rem;

                    h4 {
                        color: var(--base-clor);
                        font-family: lightMona;
                        font-weight: 500;
                        font-size: 0.8rem;
                        white-space: nowrap;
                        padding: 0.5rem 1rem;
                        border: 1px solid #E7E7E9;
                        border-radius: 50px;
                        cursor: pointer;
                        text-align: center;
                        background-color: #fff;
                        opacity: 0.8;
                    }
                }
            }
        }

        .rightcontainer {
            width: 40rem;
            aspect-ratio: 1;
            // flex-shrink: 0;
            

            video {
                width: 100%;
                object-fit: cover;
                border-radius: 30px;
            }
        }
    }
}