*
{
    margin: 10px;
    padding: 0%;
    box-sizing: border-box;
}

html, body
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .circle
    {
        height: 200px;
        width: 200px;
        clip-path: circle(100px at 0 0);
        background-color: brown;
    }

    .ellipse
    {
        height: 200px;
        width: 200px;
        clip-path: ellipse(100px 80px at 50% 50%);
        clip-path: ellipse(100px 80px at top right);
        background-color: burlywood;
    }
    
    .inset
    {
        height: 200px;
        width: 200px;
        // clip-path: inset(20px 30px 40px 10px round 10px);
        clip-path: inset(20px 30px 40px 10px round 20px 0);
        background-color:cadetblue;
    }
    
    .polygon1
    {
        height: 200px;
        width: 200px;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
        background-color:aqua; 
    }
    
    .polygon2
    {
        height: 200px;
        width: 200px;
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        background-color:aqua; 
    }
    
    .path
    {
        height: 400px;
        width: 200px;
        clip-path: path("M 10,40 L 70,40 L 80,10 L 90,0 L 140,0 L 150,10 L 150,190 L 140,200 L 10,200 L 0,190 L 0,50 Z");
        // clip-path: path("M 10,40 L 70,40 A 10,10 0,0,0 80,10 L 90,0 L 140,0 L 150,10 L 150,190 L 140,200 L 10,200 L 0,190 L 0,50 Z");
        background-color:aqua; 
    }
}

