@font-face 
{
    font-family: Fontspring;
    src: url('./Font/Fontspring-DEMO-organetto-bold.otf');
}

@font-face 
{
    font-family: Nexa;
    src: url('./Font/Nexa-Trial-BoldItalic.ttf');
}

*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body
{
    width: 100%;
    background-color:black;

    .content
    {
        width: 100%;
        display: flex;
        flex-direction: column;

        .nav
        {
            width: 100%;
            background-color: rgb(27,36,51);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5rem 2rem;

            .detail
            {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: white;
                h1 
                {
                    font-size: 3rem;
                    font-family: Fontspring;
                }
                h5 
                {
                    font-size: 1.5rem;
                    font-family: Nexa;
                }
            }
        }

        .webContent
        {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            padding: 5rem 5rem;

            .about
            {
                width: 100%;
                padding: 5rem 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: black;
                background-color: white;

                h1 
                {
                    font-size: 3rem;
                    font-family: Fontspring;
                }
                h5 
                {
                    text-align: center;
                    font-size: 1rem;
                    font-family: Fontspring;
                    font-weight: 100;
                    opacity: 0.5;
                }
            }

            .education
            {
                width: 100%;
                padding: 5rem 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                color: black;
                background-color: white;

                h2 
                {
                    font-size: 3rem;
                    font-family: Fontspring;

                }

                .Bthech
                {
                    padding: 1rem 2rem;
                    background-color: black;
                    h3 
                    {
                        font-size: 1.5rem;
                        color: white;
                        font-family: Fontspring;
                    }

                }

                .higher
                {
                    padding: 1rem 2rem;
                    background-color: black;
                    h3 
                    {
                        font-size: 1.5rem;
                        color: white;
                        font-family: Fontspring;
                    }
                }
            }
        }
    }
}